<%- include('header'); -%>

<p>Welcome to detail <%= title %></p>

<h1> <%= name %> </h1>
<h4> <%= price %> </h4>
<h4> <%= description %> </h4>
<h4> <%= category %> </h4>



<%- include('footer'); -%>