<%- include('header'); -%>

  <h1><%= title %></h1>
  <a href=""></a>
  <ul>
    <% if (category_list.length) { %>
      <% category_list.forEach(function(category) { %>
        <li><a href="<%= category.url %>"><%= category.name %></a></li>
      <% }); %>
    <% } else { %>
      <li>There are no categories.</li>
    <% } %>
  </ul>

  <%- include('footer'); -%>
